<div class="container p-4 animation-target">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                   <form action="/follow/agregar" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Título de la Tarea" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="urgencia" placeholder="Indica la urgencia de la Tarea" required>
                        </div>
                        <div class="form-group">
                            <textarea name="descripción" rows="4" class="form-control" placeholder="Describe la Tarea"></textarea required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                   </form> 
                </div>
            </div>
        </div>
    </div>
</div>